<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Contacts!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <a href="/">Home</a>|<a href="projects">Projects</a>|<a href="contact">Contact</a>
            </div>
            <h1>Contact Me!</h1>
            <p>

            <form action="/" method="get">
                <input type="text" name="Name"/>
                <input type="email" name="Email"/>
                <input type="text" name="Message"
                <button type="submit">Send</button>
            </form>
            </p>







        </div>
    </body>
</html>