<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Contacts!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <a href="/">Home</a>|<a href="projects">Projects</a>|<a href="contact">Contact</a>
            </div>
            <h1>About Me</h1>
            <div class="body">
            <p><img src="~/images/aboutme.jpg" alt="menotfound">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis rutrum velit vitae fermentum. Vivamus eu dui at augue lacinia elementum in a felis. Vivamus hendrerit diam erat, eu ultricies dolor accumsan in. Suspendisse varius arcu vitae placerat pretium. Cras quis maximus tortor, in congue eros. Nullam consectetur ex lacus, non venenatis nibh laoreet id. Proin sollicitudin sem at tortor egestas mattis ac non ligula. Cras quis efficitur purus.
                Donec finibus ante nulla, vel suscipit orci hendrerit quis. Maecenas in lectus at libero varius viverra. Cras tempor eros at augue sollicitudin mattis. Nunc viverra viverra pretium. Quisque vel lacus nec lectus ullamcorper dapibus ut a velit. Phasellus quis maximus dolor, ac elementum lectus. Nam gravida, ex ac tincidunt condimentum, elit tellus aliquet dolor, in dictum sapien tellus a nulla. Sed vitae enim sollicitudin, scelerisque dolor eu, elementum lorem. Vivamus malesuada enim ut nunc facilisis hendrerit. Mauris eu odio ac metus dignissim pretium vitae ut sapien. In hac habitasse platea dictumst.
                <br>
                <br>
                Nunc vel iaculis magna. Donec pellentesque, enim at congue facilisis, erat orci finibus elit, sed tincidunt lacus tortor ac tellus. Sed id est leo. Vestibulum eget tincidunt ipsum. Curabitur a orci nulla. Nunc non nunc hendrerit, eleifend enim at, accumsan lorem. Suspendisse pulvinar viverra eros, eu porta mauris fermentum eu. Aenean ullamcorper nisl id pharetra tempor. Proin ut erat efficitur, placerat ipsum ut, rhoncus arcu. Suspendisse ultrices egestas magna, non pulvinar augue. Phasellus ut libero eu ex faucibus tristique. Aenean sit amet consectetur tortor. Duis non felis semper, mattis eros.
                </p>
            </div>






        </div>
    </body>
</html>