<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Projects!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <a href="/">Home</a>|<a href="projects">Projects</a>|<a href="contact">Contact</a>
            </div>
            <h1>Here are some of my cool projects!</h1>
            <div class="projects">
                <p>
                    <img src="~/images/chewtoy1.jpg" alt="noimage">
                    <span>Kong!</span>
                    <br>
                    Cras quis efficitur purus. Donec finibus ante nulla, vel suscipit orci hendrerit quis. Maecenas in lectus at libero varius viverra. Cras tempor eros at augue sollicitudin mattis. Nunc viverra viverra pretium.Nunc vel iaculis magna. Donec pellentesque, enim at congue facilisis, erat orci finibus elit, sed tincidunt lacus tortor ac tellus. Sed id est leo. Vestibulum eget tincidunt ipsum. Curabitur a orci nulla. Nunc non nunc hendrerit, eleifend enim at, accumsan lorem. Suspendisse pulvinar viverra eros, eu porta mauris fermentum eu. Aenean ullamcorper nisl id pharetra tempor. Proin ut erat efficitur, placerat ipsum ut, rhoncus arcu. Suspendisse ultrices egestas magna, non pulvinar augue. Phasellus ut libero eu ex faucibus tristique. Aenean sit amet consectetur tortor. Duis non felis semper, mattis eros.
                </p>
                <p>
                    <img src="~/images/chewtoy2.jpg" alt="noimage">
                    <span>Gorilla!</span>
                    <br>
                    Cras quis efficitur purus. Donec finibus ante nulla, vel suscipit orci hendrerit quis. Maecenas in lectus at libero varius viverra. Cras tempor eros at augue sollicitudin mattis. Nunc viverra viverra pretium.Nunc vel iaculis magna. Donec pellentesque, enim at congue facilisis, erat orci finibus elit, sed tincidunt lacus tortor ac tellus. Sed id est leo. Vestibulum eget tincidunt ipsum. Curabitur a orci nulla. Nunc non nunc hendrerit, eleifend enim at, accumsan lorem. Suspendisse pulvinar viverra eros, eu porta mauris fermentum eu. Aenean ullamcorper nisl id pharetra tempor. Proin ut erat efficitur, placerat ipsum ut, rhoncus arcu. Suspendisse ultrices egestas magna, non pulvinar augue. Phasellus ut libero eu ex faucibus tristique. Aenean sit amet consectetur tortor. Duis non felis semper, mattis eros.
                </p>
                <p>
                    <img src="~/images/chewtoy3.jpg" alt="noimage">
                    <span>Bear!</span>
                    <br>
                    Cras quis efficitur purus. Donec finibus ante nulla, vel suscipit orci hendrerit quis. Maecenas in lectus at libero varius viverra. Cras tempor eros at augue sollicitudin mattis. Nunc viverra viverra pretium.Nunc vel iaculis magna. Donec pellentesque, enim at congue facilisis, erat orci finibus elit, sed tincidunt lacus tortor ac tellus. Sed id est leo. Vestibulum eget tincidunt ipsum. Curabitur a orci nulla. Nunc non nunc hendrerit, eleifend enim at, accumsan lorem. Suspendisse pulvinar viverra eros, eu porta mauris fermentum eu. Aenean ullamcorper nisl id pharetra tempor. Proin ut erat efficitur, placerat ipsum ut, rhoncus arcu. Suspendisse ultrices egestas magna, non pulvinar augue. Phasellus ut libero eu ex faucibus tristique. Aenean sit amet consectetur tortor. Duis non felis semper, mattis eros.
                </p>  
                <p>
                    <img src="~/images/chewtoy4.jpg" alt="noimage">
                    <span>Dragon!</span>
                    <br>
                    Cras quis efficitur purus. Donec finibus ante nulla, vel suscipit orci hendrerit quis. Maecenas in lectus at libero varius viverra. Cras tempor eros at augue sollicitudin mattis. Nunc viverra viverra pretium.Nunc vel iaculis magna. Donec pellentesque, enim at congue facilisis, erat orci finibus elit, sed tincidunt lacus tortor ac tellus. Sed id est leo. Vestibulum eget tincidunt ipsum. Curabitur a orci nulla. Nunc non nunc hendrerit, eleifend enim at, accumsan lorem. Suspendisse pulvinar viverra eros, eu porta mauris fermentum eu. Aenean ullamcorper nisl id pharetra tempor. Proin ut erat efficitur, placerat ipsum ut, rhoncus arcu. Suspendisse ultrices egestas magna, non pulvinar augue. Phasellus ut libero eu ex faucibus tristique. Aenean sit amet consectetur tortor. Duis non felis semper, mattis eros.
                </p>
                <p>
                    <img src="~/images/chewtoy5.jpg" alt="noimage">
                    <span>Taco!</span>
                    <br>
                    Cras quis efficitur purus. Donec finibus ante nulla, vel suscipit orci hendrerit quis. Maecenas in lectus at libero varius viverra. Cras tempor eros at augue sollicitudin mattis. Nunc viverra viverra pretium.
                </p>                              


















            </div>






        </div>
    </body>
</html>