@model Restauranter.Models.Review
<div>
    <h1>Add a review!</h1>
    <form asp-action="newReview" method="POST">
        <span asp-validation-for="Reviewer"></span>
        <br>
        <label>Reviewer name:</label>
        <input asp-for="Reviewer" >
        <br>
        <span asp-validation-for="Restaurant"></span>
        <br>
        <label>Restaurant name:</label>
        <input asp-for="Restaurant" >
        <br>
        <span asp-validation-for="Content"></span>
        <br>
        <label>Content:</label>
        <input asp-for="Content" >
        <br>
        <span asp-validation-for="DateTime"></span>
        <br>
        <label>Date Visited:</label>
        <input type="date" asp-for="DateTime" >
        <br>
        <span asp-validation-for="Rating"></span>
        <label>Rating</label>
        <select asp-for="Rating" >
            <option value="1" >1 star</option>
            <option value="2" >2 stars</option>
            <option value="3" >3 stars</option>
            <option value="4" >4 stars</option>
            <option value="5" >5 stars</option>
        </select>
        <br>
        <button type="submit" btn btn-info>Submit</button>
    </form>
    <br>
    <button class="btn btn-info" onclick="location.href='Reviews'">List All Reviews</button>
</div>